.homeCategories {
  margin-bottom: 56px !important;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.linkTitle {
  margin: auto;
  margin-bottom: 16px;
}

.linkTitle a {
  color: var(--primary, #009418);
  text-align: right;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  text-decoration: none;
}
