.product_slider_one .product img {
  height: fit-content !important;
}

@media (max-width:992px) {
  .product_slider_one {
    margin: auto !important;
    text-align: center;
  }

  .product_slider_one .product {
    margin: auto;
  }
}

.gZmPOF {
  display: flex;
  justify-content: center !important;
  padding: 20px !important;
}