.profile_page {
  padding: 40px 70px;
}

.profile_content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.profile_page .profile-header h5 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 35px;
}

.profile_page .profile-header p {
  font-size: 28px;
  color: rgb(47, 47, 47);
}

.list-button {
  display: none;
}

@media screen and (max-width: 800px) {
  .profile_page {
    padding: 50px 20px;
    width: 100%;
  }

  .profile_content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 100%;
  }

  .profile_page .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile_page .profile-header h5 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
  }

  .profile_page .profile-header p {
    font-size: 20px;
    color: rgb(47, 47, 47);
  }

  .list-button {
    display: block;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }

  .profile_page .list-pages {
    display: none;
  }

  .profile_page .list-pages.active {
    display: block;
    width: 100%;
  }
}