.category {
  color: var(--foundation-blue-normal-active, #3d4c5e);
  text-align: right;

  /* web body */
  font-family: Tajawal;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 21.6px */
}

.categories {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  color: var(--foundation-blue-normal-active, #3d4c5e);
  text-align: right;
  font-family: Tajawal;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.categories .category {
  cursor: pointer;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  display: none !important;
}