.page_tags_page {
  width: 300px;
  border: 1px solid var(--main-color);
  padding: 30px 10px;
  border-radius: 10px;
  max-width: 100%;
}


@media screen and (max-width: 800px) {
  .page_tags_page {
    width: 100%;
    border: 1px solid var(--main-color);
    padding: 30px 10px;
    border-radius: 10px;
    max-width: 100%;
  }
}
